# patterns of files to ignore / prevent uploading
*.ini
*.sqlite
*.sqlite3*
*.db
*Tests/*.html
*Tests/*.xml
*Tests/*.png
*Tests/*driver.log
*Tests/*log.txt
Resources/*
dist/*
build/*
testdatatable.egg-info/*
