<!-- <Wix
		xmlns="http://wixtoolset.org/schemas/v4/wxs"
		xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
		> -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" >
	<Bundle
			Id="damies13.TestDataTable"
			Name="TestDataTable"
			Manufacturer="damies13"
			UpgradeCode="3fdf5c0a-073a-4f85-83ef-11b979759166"
			AboutUrl="https://github.com/damies13/TestDataTable/blob/master/README.md"
			Version="0.3.0">
		<Chain>
			<!-- Install Prerequsites -->
			<PackageGroupRef Id="Python_3x"/>

			<!-- Install Application -->

			<ExePackage Id="TestDataTable_0.3.0"
				DisplayName="TestDataTable v0.3.0"
				Vital="yes"
				InstallArguments="install -U testdatatable"
				UninstallArguments="uninstall testdatatable"
				DetectCondition="NOT TDTINSTALLED"
				>
					<ExePackagePayload Name="PIPEXE" />
				</ExePackage>
				<!-- After="Python_3x" -->
				<!-- SourceFile="pip.exe" -->
				<!-- InstallCommand="install -U testdatatable==0.2.6" -->

				<!-- PIPEXE -->

		</Chain>
	</Bundle>

	<Fragment>

		<!-- Check for Python 3.9 - 3.13 -->

		<!-- 	HKEY_CURRENT_USER\Software\Python\<Company>\<Tag>
				HKEY_LOCAL_MACHINE\Software\Python\<Company>\<Tag> -->

		<!-- <util:RegistrySearch Root="HKCU" Key="SOFTWARE\Python\PythonCore\3.9\InstalledFeatures" Value="pip" Variable="hkcu_py39" />
		<util:RegistrySearch Root="HKLM" Key="SOFTWARE\Python\PythonCore\3.9\InstalledFeatures" Value="pip" Variable="hklm_py39" />

		<util:RegistrySearch Root="HKCU" Key="SOFTWARE\Python\PythonCore\3.10\InstalledFeatures" Value="pip" Variable="hkcu_py310" />
		<util:RegistrySearch Root="HKLM" Key="SOFTWARE\Python\PythonCore\3.10\InstalledFeatures" Value="pip" Variable="hklm_py310" />

		<util:RegistrySearch Root="HKCU" Key="SOFTWARE\Python\PythonCore\3.11\InstalledFeatures" Value="pip" Variable="hkcu_py311" />
		<util:RegistrySearch Root="HKLM" Key="SOFTWARE\Python\PythonCore\3.11\InstalledFeatures" Value="pip" Variable="hklm_py311" />

		<util:RegistrySearch Root="HKCU" Key="SOFTWARE\Python\PythonCore\3.12\InstalledFeatures" Value="pip" Variable="hkcu_py312" />
		<util:RegistrySearch Root="HKLM" Key="SOFTWARE\Python\PythonCore\3.12\InstalledFeatures" Value="pip" Variable="hklm_py312" />

		<util:RegistrySearch Root="HKCU" Key="SOFTWARE\Python\PythonCore\3.13\InstalledFeatures" Value="pip" Variable="hkcu_py313" />
		<util:RegistrySearch Root="HKLM" Key="SOFTWARE\Python\PythonCore\3.13\InstalledFeatures" Value="pip" Variable="hklm_py313" /> -->

		<!-- <Property Id="hkcu_py39"> <RegistrySearch Id="hkcu_py39" Root="HKCU" Key="Software\Python\PythonCore\3.9\InstalledFeatures" Name="pip" Type="raw" /> </Property>
		<Property Id="hklm_py39"> <RegistrySearch Id="hklm_py39" Root="HKLM" Key="Software\Python\PythonCore\3.9\InstalledFeatures" Name="pip" Type="raw" /> </Property>
		<Property Id="hkcu_py39_path"> <RegistrySearch Id="hkcu_py39_path" Root="HKCU" Key="Software\Python\PythonCore\3.9\InstalledPath" Type="directory" /> </Property>
		<Property Id="hklm_py39_path"> <RegistrySearch Id="hklm_py39_path" Root="HKLM" Key="Software\Python\PythonCore\3.9\InstalledPath" Type="directory" /> </Property>

		<Property Id="hkcu_py310"> <RegistrySearch Id="hkcu_py310" Root="HKCU" Key="Software\Python\PythonCore\3.10\InstalledFeatures" Name="pip" Type="raw" /> </Property>
		<Property Id="hklm_py310"> <RegistrySearch Id="hklm_py310" Root="HKLM" Key="Software\Python\PythonCore\3.10\InstalledFeatures" Name="pip" Type="raw" /> </Property>
		<Property Id="hkcu_py310_path"> <RegistrySearch Id="hkcu_py310_path" Root="HKCU" Key="Software\Python\PythonCore\3.10\InstalledPath" Type="directory" /> </Property>
		<Property Id="hklm_py310_path"> <RegistrySearch Id="hklm_py310_path" Root="HKLM" Key="Software\Python\PythonCore\3.10\InstalledPath" Type="directory" /> </Property>

		<Property Id="hkcu_py311"> <RegistrySearch Id="hkcu_py311" Root="HKCU" Key="Software\Python\PythonCore\3.11\InstalledFeatures" Name="pip" Type="raw" /> </Property>
		<Property Id="hklm_py311"> <RegistrySearch Id="hklm_py311" Root="HKLM" Key="Software\Python\PythonCore\3.11\InstalledFeatures" Name="pip" Type="raw" /> </Property>
		<Property Id="hkcu_py311_path"> <RegistrySearch Id="hkcu_py311_path" Root="HKCU" Key="Software\Python\PythonCore\3.11\InstalledPath" Type="directory" /> </Property>
		<Property Id="hklm_py311_path"> <RegistrySearch Id="hklm_py311_path" Root="HKLM" Key="Software\Python\PythonCore\3.11\InstalledPath" Type="directory" /> </Property>

		<Property Id="hkcu_py312"> <RegistrySearch Id="hkcu_py312" Root="HKCU" Key="Software\Python\PythonCore\3.12\InstalledFeatures" Name="pip" Type="raw" /> </Property>
		<Property Id="hklm_py312"> <RegistrySearch Id="hklm_py312" Root="HKLM" Key="Software\Python\PythonCore\3.12\InstalledFeatures" Name="pip" Type="raw" /> </Property>
		<Property Id="hkcu_py312_path"> <RegistrySearch Id="hkcu_py312_path" Root="HKCU" Key="Software\Python\PythonCore\3.12\InstalledPath" Type="directory" /> </Property>
		<Property Id="hklm_py312_path"> <RegistrySearch Id="hklm_py312_path" Root="HKLM" Key="Software\Python\PythonCore\3.12\InstalledPath" Type="directory" /> </Property>

		<Property Id="hkcu_py313"> <RegistrySearch Id="hkcu_py313" Root="HKCU" Key="Software\Python\PythonCore\3.13\InstalledFeatures" Name="pip" Type="raw" /> </Property>
		<Property Id="hklm_py313"> <RegistrySearch Id="hklm_py313" Root="HKLM" Key="Software\Python\PythonCore\3.13\InstalledFeatures" Name="pip" Type="raw" /> </Property>
		<Property Id="hkcu_py313_path"> <RegistrySearch Id="hkcu_py313_path" Root="HKCU" Key="Software\Python\PythonCore\3.13\InstalledPath" Type="directory" /> </Property>
		<Property Id="hklm_py313_path"> <RegistrySearch Id="hklm_py313_path" Root="HKLM" Key="Software\Python\PythonCore\3.13\InstalledPath" Type="directory" /> </Property> -->

		<Property Id="PYPIP">
			<RegistrySearch Id="hkcu_py39" Root="HKCU" Key="Software\Python\PythonCore\3.9\InstalledFeatures" Name="pip" Type="raw" />
			<RegistrySearch Id="hklm_py39" Root="HKLM" Key="Software\Python\PythonCore\3.9\InstalledFeatures" Name="pip" Type="raw" />
			<RegistrySearch Id="hkcu_py310" Root="HKCU" Key="Software\Python\PythonCore\3.10\InstalledFeatures" Name="pip" Type="raw" />
			<RegistrySearch Id="hklm_py310" Root="HKLM" Key="Software\Python\PythonCore\3.10\InstalledFeatures" Name="pip" Type="raw" />
			<RegistrySearch Id="hkcu_py311" Root="HKCU" Key="Software\Python\PythonCore\3.11\InstalledFeatures" Name="pip" Type="raw" />
			<RegistrySearch Id="hklm_py311" Root="HKLM" Key="Software\Python\PythonCore\3.11\InstalledFeatures" Name="pip" Type="raw" />
			<RegistrySearch Id="hkcu_py312" Root="HKCU" Key="Software\Python\PythonCore\3.12\InstalledFeatures" Name="pip" Type="raw" />
			<RegistrySearch Id="hklm_py312" Root="HKLM" Key="Software\Python\PythonCore\3.12\InstalledFeatures" Name="pip" Type="raw" />
			<RegistrySearch Id="hkcu_py313" Root="HKCU" Key="Software\Python\PythonCore\3.13\InstalledFeatures" Name="pip" Type="raw" />
			<RegistrySearch Id="hklm_py313" Root="HKLM" Key="Software\Python\PythonCore\3.13\InstalledFeatures" Name="pip" Type="raw" />
		</Property>


		<Property Id="PY_INSTALLPATH">
			<RegistrySearch Id="hkcu_py39_path" Root="HKCU" Key="Software\Python\PythonCore\3.9\InstalledPath" Type="directory" />
			<RegistrySearch Id="hklm_py39_path" Root="HKLM" Key="Software\Python\PythonCore\3.9\InstalledPath" Type="directory" />
			<RegistrySearch Id="hkcu_py310_path" Root="HKCU" Key="Software\Python\PythonCore\3.10\InstalledPath" Type="directory" />
			<RegistrySearch Id="hklm_py310_path" Root="HKLM" Key="Software\Python\PythonCore\3.10\InstalledPath" Type="directory" />
			<RegistrySearch Id="hkcu_py311_path" Root="HKCU" Key="Software\Python\PythonCore\3.11\InstalledPath" Type="directory" />
			<RegistrySearch Id="hklm_py311_path" Root="HKLM" Key="Software\Python\PythonCore\3.11\InstalledPath" Type="directory" />
			<RegistrySearch Id="hkcu_py312_path" Root="HKCU" Key="Software\Python\PythonCore\3.12\InstalledPath" Type="directory" />
			<RegistrySearch Id="hklm_py312_path" Root="HKLM" Key="Software\Python\PythonCore\3.12\InstalledPath" Type="directory" />
			<RegistrySearch Id="hkcu_py313_path" Root="HKCU" Key="Software\Python\PythonCore\3.13\InstalledPath" Type="directory" />
			<RegistrySearch Id="hklm_py313_path" Root="HKLM" Key="Software\Python\PythonCore\3.13\InstalledPath" Type="directory" />
		</Property>


		<Property Id="TDTINSTALLED">
			<DirectorySearch Id="py_installpath" Path="PY_INSTALLPATH">
				<DirectorySearch Id="py_lib" Path="Lib">
					<DirectorySearch Id="py_site_packages" Path="site-packages">
						<DirectorySearch Id="py_dist_info" Path="testdatatable-0.3.0.dist-info">
							<FileSearch Id="ep" Name="entry_points.txt" />
						</DirectorySearch>
					</DirectorySearch>
				</DirectorySearch>
			</DirectorySearch>
		</Property>

		<Property Id="PIPEXE">
			<DirectorySearch Id="pippy_installpath" Path="PY_INSTALLPATH">
				<DirectorySearch Id="py_scripts" Path="Scripts">
					<FileSearch Id="pipexe" Name="pip.exe" />
				</DirectorySearch>
			</DirectorySearch>
		</Property>


		<!-- <DirectorySearch Id="py_dist_info_0.2.6" Path="testdatatable-0.2.6.dist-info">
			<FileSearch Id="ep" Name="entry_points.txt" />
		</DirectorySearch> -->


		<!-- Install Python 3.13 -->
		<!-- https://docs.python.org/3/using/windows.html -->
		<PackageGroup Id="Python_3x">
			<ExePackage Id="Python_3.13_x64"
				DisplayName="Python 3.13"
				Vital="yes"
				Name="python-3.13.3-amd64.exe"
				DownloadUrl="https://www.python.org/ftp/python/3.13.3/python-3.13.3-amd64.exe"
				InstallArguments="/passive"
				UninstallArguments="/passive /uninstall"
				DetectCondition="VersionNT64 AND NOT PYPIP" />

				<!-- SourceFile="python-3.13.3-amd64.exe" -->

			<ExePackage Id="Python_3.13_x86"
				DisplayName="Python 3.13"
				Vital="yes"
				Name="python-3.13.3.exe"
				DownloadUrl="https://www.python.org/ftp/python/3.13.3/python-3.13.3.exe"
				InstallArguments="/passive"
				UninstallArguments="/passive /uninstall"
				DetectCondition="NOT VersionNT64 AND NOT PYPIP" />

				<!-- SourceFile="python-3.13.3.exe" -->

			<!-- <ExePackage Id="Python_3.13_x64"
				DisplayName="Python 3.13"
				Vital="yes"
				DownloadUrl="https://www.python.org/ftp/python/3.13.3/python-3.13.3-amd64.exe"
				SourceFile="python-3.13.3-amd64.exe"
				InstallCommand="/passive /norestart"
				DetectCondition="VersionNT64 AND NOT (hkcu_py39 OR hklm_py39 OR hkcu_py310 OR hklm_py310 OR hkcu_py311 OR hklm_py311 OR hkcu_py312 OR hklm_py312 OR hkcu_py313 OR hklm_py313)" />
			<ExePackage Id="Python_3.13_x86"
				DisplayName="Python 3.13"
				Vital="yes"
				DownloadUrl="https://www.python.org/ftp/python/3.13.3/python-3.13.3.exe"
				SourceFile="python-3.13.3.exe"
				InstallCommand="/passive /norestart"
				DetectCondition="NOT VersionNT64 AND NOT (hkcu_py39 OR hklm_py39 OR hkcu_py310 OR hklm_py310 OR hkcu_py311 OR hklm_py311 OR hkcu_py312 OR hklm_py312 OR hkcu_py313 OR hklm_py313)" /> -->
		</PackageGroup>

	</Fragment>

</Wix>
